DATABASE_URL="postgresql://hejal:CHANGEME@localhost:5432/hejal?schema=public"
NEXTAUTH_URL="https://app.hejalhatalmud.cloud"
NEXTAUTH_SECRET="CHANGEME_RUN_openssl_rand_-base64_32"
SHEET_CSV_DONADORES=""
SHEET_CSV_ABREJIM=""
SHEET_CSV_MENSUALIDADES=""
SHEET_CSV_NOMINAS=""
SHEET_CSV_CAJA=""
